<div class="page-footer">
    Copyright © 2019 Tencent. All Rights Reserved. <br/>
    Web前端开发高级进阶班【软谋教育】

</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="text/javascript" src='/javascripts/util.js' ></script>
<script type="text/javascript" src='/javascripts/createMessTipWin.js' ></script>
<script src="/javascripts/axiosTool.js"></script>
<script>
    axios.defaults.withCredentials = false;  //true 允许携带cookie  false 不携带
    axios.defaults.baseURL = 'http://localhost:3000';
</script>