<form  >
    <div class="login staff-add">
        <div class="flex phone-input mt-20">
           <label class="name-title">用户名 :</label> <input type="text"  placeholder="请输入用户名" name="username" />
        
        </div>
        <div class="flex phone-input mt-20">
            <label class="name-title">性别 :</label> <select name="sex">
                <option value="">请选择性别</option>
                <option value="男">男</option>
                <option value="女">女</option>
            </select>
        </div>
        <div class="flex phone-input mt-20">
            <label class="name-title">年龄 :</label> <input type="text" placeholder="请输入年龄" name="age" />
        </div>
        <div class="flex phone-input mt-20">
            <label class="name-title">家乡 :</label> <input type="text" placeholder="请输入家乡" name="hometown"/>
        </div>
    </div>
</form>